<div class="col-4 mx-auto" style="background-color: #FFFFFF;">
  <div class="row">
      <h3>投稿編集</h3>
  </diV>
    <div class="row">
      <%= form_with model: @post, url: post_path(@post.id), method: :patch do |f| %>
       <%= f.text_field :title, placeholder: 'タイトル名', class:"ml-4 mb-3 w-75" %>
       <%= f.text_area :body, placeholder: '投稿内容', class:"ml-4 mb-3 w-75" %>
       <%= f.file_field :image, accept: "image/*", class:"ml-4 mb-3" %>
        <div class="pr-auto">
          <%= f.radio_button :is_draft, :true %>
          <%= f.label :下書き %>
          <%= f.radio_button :is_draft, :false %>
          <%= f.label :投稿 %>
        </div>
        <div class="col mx-auto">
          <%= f.submit '変更を保存', class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
</div>