<div class="col-12 col-xl-4 col-lg-6 col-md-8 col-sm-10 mx-auto mt-3" style="background-color: #FFFFFF;">
  <!--ユーザーで検索した場合-->
  <% if @model == 'user' %>
    <div class="row justify-content-center">
      <h3 class="my-3">ユーザーの検索結果 "<%= @search %>"</h3>
    </div>
    <div class="row justify-content-center">
      <!--検索結果が空っぽだったら、、、？-->
      <% if @records.empty? %>
        <div class="row">
          <h2 class="mt-3 mb-5 text-danger">検索結果はありません。</h2>
        </div>
      <% else %>
        <table class="table">
          <thead>
            <tr>
              <th style="text-align: center;">プロフィール画像</th>
              <th style="text-align: center;">ユーザー名</th>
            </tr>
          </thead>
          <tbody>
            <% @records.each do |user| %>
              <tr>
                <td><%= image_tag user.get_image, class:"rounded-circle mx-auto d-block" %></td>
                <td style="text-align: center;vertical-align: middle; font-size: 20px;"><%= link_to user.name ,user_path(user) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
<!--投稿で検索した場合-->
  <% elsif @model == 'post' %>
    <div class="row justify-content-center">
      <h3 class="my-3">投稿の検索結果 "<%= @search %>"</h3>
    </div>
      <% if @records.empty? %>
        <div class="row">
          <h2 class="mt-3 mb-5 text-danger">検索結果はありません。</h2>
        </div>
      <% else %>
        <div class="d-flex flex-column">
          <% @records.each do |post| %>
            <div class="card border-light shadow m-3">
              <div class="row">
                <div class="col-4 my-3 text-center">
                  <%= image_tag post.user.get_image, class:"rounded-circle mx-auto d-block" %>
                   <%= link_to post.user.name ,user_path(post.user), class:"my-3" ,style:"color: #000;" %>
                </div>
                <div class="col-7 my-3">
                  <%= link_to post_path(post.id) do %>
                   <h5 style="color: #000;"><%= truncate(post.title, length: 25) %></h5>
                   <p style="color: #000;"><%= truncate(post.body, length: 75) %></p>
                  <% end %>
                </div>
              </div>
              <div class="row mr-4 justify-content-end">
                <!--コメント-->
                <%= link_to post_path(post.id) do %>
                  <p class="mr-3"><i class="fa-regular fa-comment mx-1"></i><%= post.post_comments.count %></p>
                <% end %>
               <!--いいね-->
                <% if post.favorited_by?(current_user) %>
                 <p>
                  <%= link_to post_favorites_path(post), method: :delete do %>
                    <p class="mr-3"><i class="fa-solid fa-heart mr-1" style="color: #d80e4a;"></i><%= post.favorites.count %></p>
                  <% end %>
                 </p>
                <% else %>
                  <p>
                    <%= link_to post_favorites_path(post), method: :post do %>
                      <p class="mr-3"><i class="fa-regular fa-heart mr-1"></i><%= post.favorites.count %></p>
                    <% end %>
                  </p>
                <% end %>
                
                <% if post.genre.present? %>
                  <p>ジャンル:<%= post.genre.name %></p>
                <% else %>
                  <p>ジャンル:　　</p>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
  <% end %>
</div>

