<div class="col-4 mx-auto mt-3" style="background-color: #FFFFFF;">
  <div class="row d-flex justify-content-center">
    <h3 class="my-3">ジャンル一覧</h3>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>ジャンル名</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @genres.each do |genre| %>
        <tr>
          <td><%= genre.name %></td>
          <td>
            <%= link_to '編集する', edit_admin_genre_path(genre), class: "btn btn-sm btn-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <h3 class="my-3">新規ジャンル作成</h3>
  </div>
  <div class="row pb-4 d-flex justify-content-center">
    <%= form_with model: @genre, url: admin_genres_path do |f| %>
      <%= f.label :name, "ジャンル名", class: "ml-2" %>
      <%= f.text_field :name, placeholder: 'ジャンル名', class: "w-50" %>
      <%= f.submit '新規登録', class: "btn btn-sm btn-success my-3" %>
    <% end %>
  </div>
</div>

