<div class="col-4 mx-auto" style="background-color: #FFFFFF;">
  <div class="row">
    <h3>マイページ</h3>
  </div>
  <div class="row">
    <div class="col">
      <%= image_tag @user.get_image %>
    </div>
    <div class="col">
      <p>名前：<%= @user.name %></p>
    </div>
  </div>
  <div class="row">
    <p><%= @user.is_active %></p>
    <p>生年月日：<%= @user.birth %></p>
    <p>位置情報：<%= @user.location %></p>
  </div>
  <div class="row">
    <h6>自己紹介</h6>
    <p><%= @user.introduction %></p>
  </div>
  <div class="row">
    <%= link_to "編集", edit_user_path(@user.id), class:"btn btn-success" %>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>投稿一覧</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td>
            <%= link_to user_path(post.user.id) do %>
              <%= image_tag post.user.get_image %>
            <% end %>
          </td>
          <td>
            <%= link_to post_path(post.user.id) do %>
              <%= post.title %>
              <%= post.body %>
            <% end %>
          </td>
          <td>
            <%= link_to '編集', edit_post_path(post.user.id), class: "btn btn-success" %>
            <% if post.user == current_user %>
              <%= link_to "削除", post_path(post.user.id), method: :delete, class: "btn btn-danger" %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>