<div class="col-12 col-xl-4 col-lg-6 col-md-8 col-sm-10 mx-auto my-3" style="background-color: #FFFFFF;">
  <div class="row">
    <div class="col-6 mt-3">
      <%= image_tag @user.get_image, class:"rounded-circle mx-auto d-block" %>
    </div>
    <div class="col-5 mt-3">
      <h5><%= @user.name %></h5>
        <% if @user.is_active == "true" %>
          <td>女性</td>
        <% else %>
          <td>男性</td>
        <% end %>
    </div>
  </div>
  <div class="row mx-3 mt-3">
    <p>生年月日：<%= @user.birth %><br/>
      位置情報：<%= @user.location %></p>
  </div>
  <div class="row mx-3">
    <h6>自己紹介:</h6>
    <p><%= @user.introduction %></p>
  </div>
  <!--ゲストユーザーではない場合に編集ボタンを表示-->
  <% if @user.email != "guest@example.com" %>
  <div class="row mr-2 d-frex justify-content-end">
    <%= link_to edit_user_path(@user.id) do %>
      <i class="fa-solid fa-user-gear rounded p-2 custom-border"></i>
    <% end %>
  </div>
  <% end %>

  <div class="row d-frex justify-content-center">
    <h5>投稿一覧</h5>
  </div>
  <% @posts.each do |post| %>
    <div class="row">
      <div class="col-4 my-3">
        <%= link_to user_path(post.user.id) do %>
          <%= image_tag post.user.get_image, class:"rounded-circle mx-auto d-block" %>
        <% end %>
      </div>
      <div class="col-7 my-3">
        <%= link_to post_path(post.id), style:"text-decoration: none;" do %>
          <h5 style="color: #000;"><%= truncate(post.title, length: 25) %></h5>
          <p style="color: #000;"><%= truncate(post.body, length: 75) %></p>
        <% end %>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-7">
        <% if post.genre.present? %>
          <p>ジャンル:<%= post.genre.name %></p>
        <% else %>
          <p>ジャンル:　　</p>
        <% end %>
      </div>
    </div>
    <div class="row mr-3 d-frex justify-content-end">
      <!--コメント-->
      <%= link_to post_path(post.id) do %>
        <p class="mr-4"><i class="fa-regular fa-comment mx-1"></i><%= post.post_comments.count %></p>
      <% end %>
      <!--いいね-->
      <% if post.favorited_by?(current_user) %>
        <p>
          <%= link_to post_favorites_path(post), method: :delete do %>
            <i class="fa-solid fa-heart" style="color: #d80e4a;"></i><%= post.favorites.count %>
          <% end %>
        </p>
      <% else %>
        <p>
          <%= link_to post_favorites_path(post), method: :post do %>
            <i class="fa-regular fa-heart"></i><%= post.favorites.count %>
          <% end %>
        </p>
      <% end %>
      <!--編集と削除ボタン-->
      <% if post.user == current_user %>
        <%= link_to edit_post_path(post.id),class: "mr-3", style: "text-decoration: none;" do %>
         <i class="fa-solid fa-pen-to-square p-2 custom-border"></i>
        <% end %>
        <%= link_to post_path(post.id), method: :delete,style:"text-decoration: none;" do %>
          <i class="fa-solid fa-trash-can p-2 custom-border"></i>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>